.scheduleAppointment {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("../../assets/background_section4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 4rem 6rem;
  gap: 2rem;

  h1 {
    font-size: 70px;
    color: var(--black);
    width: 50%;
    line-height: 1;
    font-family: var(--TitilliumWeb);
  }

  p {
    font-size: 30px;
    color: var(--black);
    width: 50%;
    line-height: 1;
  }

  button {
    font-size: 25px;
  }

  .graphicResource {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 100px;
  }
}

/*Responsive*/
@media (max-width: 480px) {
  .scheduleAppointment {
    padding: 20px;
    flex-direction: column;
    width: 100vw;
    height: 70vh;

    h1 {
      font-size: 30px;
      width: 100%;
    }

    p {
      font-size: 15px;
      width: 100%;
    }

    button {
      font-size: 15px;
    }

    .graphicResource {
      width: 30px;
      bottom: 30px;
      right: 30px;
    }
  }
}