.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  width: 100vw;
  height: 75vh;
  padding: 4rem 6rem;
  background-color: var(--yellow);
  color: var(--black);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
    height: 100%;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      width: 100%;
      img {
        height: 120px;
      }
      p {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        line-height: normal;
      }
    }
  }
}

.benefits > div > span:first-child {
  align-items: flex-end;
  height: 65%;
}

.benefits > div:nth-child(3) > span:first-child {
  img {
    width: 85%;
  }
}

.benefits > div > span:last-child {
  align-items: flex-start;
  height: 35%;
}

/*Responsive*/
@media (max-width: 480px) {
  .benefits {
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
    gap: 1rem;
    div {
      width: calc(50% - 1rem);
      height: 100%;
      span {
        img {
          height: 70px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .benefits > div:nth-child(3) > span:first-child {
    img {
      width: 85%;
    }
  }
}
